# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# https://api.openweathermap.org/data/2.5/weather?q=delhi&appid=e045b569dd462141d2cf6cc28e88c106
  coord: { lon: 77.2167, lat: 28.6667 },
  weather: [{ id: 721, main: "Haze", description: "haze", icon: "50n" }],
  base: "stations",
  main: {
    temp: 27.05,
    feels_like: 26.62,
    temp_min: 27.05,
    temp_max: 27.05,
    pressure: 1016,
    humidity: 34,
  },
  visibility: 4000,
  wind: { speed: 1.54, deg: 80 },
  clouds: { all: 40 },
  dt: 1678367536,
  sys: {
    type: 1,
    id: 9165,
    country: "IN",
    sunrise: 1678324108,
    sunset: 1678366527,
  },
  timezone: 19800,
  id: 1273294,
  name: "Delhi",
  cod: 200,
};

git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Vishalking758/reactWeatherApp.git
git push -u origin main


git remote add origin https://github.com/Vishalking758/reactWeatherApp.git
git branch -M main
git push -u origin main